.H1{
    text-align: center;
}
.h3{
    text-align: center;
}

body{

    margin-top: 50px;
    margin-left: 130px;
    margin-right: 130px;
    background-color: rgb(255, 255, 255);
}

  .user-box input {
    width: 20%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #0c0909;
    outline: none;
    background: transparent;
  }