body{
    background-color: #54aaffb9 ;
}

    .login-box {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        padding: 40px;
        transform: translate(-50%, -50%);
        background: #043668d7;
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(182, 182, 182, 0.6);
        border-radius: 10px;
        color: #bdb8b8;
      }
      
      .login-box .user-box {
        position: relative;
      }
      
      .login-box .user-box input {
        width: 100%;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid #fff;
        outline: none;
        background: transparent;
      }
      
      .login-box .user-box label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px 0;
        font-size: 16px;
        color: #fff;
        pointer-events: none;
        transition: .5s;
      }
      
      .login-box .user-box input:focus ~ label,
      .login-box .user-box input:valid ~ label {
        top: -20px;
        left: 0;
        color: #bdb8b8;
        font-size: 12px;
      }
      
      .login-box form button {
        position: relative;
        display: inline-block;
        padding: 10px 20px;
        color: #ffffff;
        font-size: 16px;
        text-decoration: none;
        text-transform: uppercase;
        overflow: hidden;
        transition: .5s;
        margin-top: 40px;
        letter-spacing: 4px
      }
      
   
      
      .login-box button span {
        position: absolute;
        display: block;
      }
      
      @keyframes btn-anim1 {
        0% {
          left: -100%;
        }
      
        50%,100% {
          left: 100%;
        }
      }

      /* botão Login */
      .oxi3 {
        --color: #0077ff;
        font-family: inherit;
        display: inline-block;
        width: 6em;
        height: 2.6em;
        line-height: 2.5em;
        overflow: hidden;
        font-size: 17px;
        z-index: 1;
        color: var(--color);
        border: 2px solid var(--color);
        border-radius: 4px;
        position: relative;
      }
      
      .oxi3::before {
        position: absolute;
        content: "";
        background: var(--color);
        width: 150px;
        height: 200px;
        z-index: -1;
        border-radius: 50%;
      }
      
      .oxi3:hover {
        color: white;
      }
      
      .oxi3:before {
        top: 100%;
        left: 100%;
        transition: .3s all;
      }
      
      .oxi3:hover::before {
        top: -30px;
        left: -30px;
      }
      /*  */

      /* botão Cadastro */
      .oxi4 {
        text-decoration: none;
        --color: #05a0c7;
        font-family: inherit;
        display: inline-block;
        width: 8em;
        height: 2.6em;
        line-height: 2.5em;
        overflow: hidden;
        background-color: #ffffff;
        
        font-size: 17px;
        z-index: 1;
        color: var(--color);
        border: 2px solid var(--color);
        border-radius: 4px;
        position: relative;
      }
      
      .oxi4::before {
        position: absolute;
        content: "";
        background: var(--color);
        width: 200px;
        height: 200px;
        z-index: -1;
        border-radius: 50%;
      }
      
      .oxi4:hover {
        color: white;
      }
      
      .oxi4:before {
        top: 100%;
        left: 100%;
        transition: .3s all;
      }
      
      .oxi4:hover::before {
        top: -30px;
        left: -30px;
      }