

.menu {  
  background-image: linear-gradient(to right,rgb(2, 25, 128),rgba(85, 119, 252, 0.562)) ;

 
}

.menu ul {

  margin: 0;
  padding: 0;
  font-size: 0;
  position: relative;
  z-index: 1;
  text-align: center;

}

.menu ul li {

  display: inline-block;
  vertical-align: top;

}

.menu ul li a {

  font-family: 'open_sansregular';
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  display: block;
  line-height: 50px;
  padding: 0 35px;
  letter-spacing: 3px;
  position: relative;

}

.menu ul li a:after {

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #ccc;
  z-index: -1;
  border-bottom: 1px solid #ffffff ;
  opacity: 0;
  transition: opacity 0.3s;

}

.menu ul li:hover a,
.menu ul li:focus a,
.menu ul li.active a {

  color: #ffffff;

}

.menu ul li:hover a:after,
.menu ul li:focus a:after,
.menu ul li.active a:after {

  opacity: 1;

}

#dropdown-item{

  text-decoration: none;
}