

.topo {  
  background-image: linear-gradient(to right,#032e59,#0c6bc9b9) ;

 
}

.topo ul {

  margin: 0;
  padding: 0;
  font-size: 0;
  position: relative;
  z-index: 1;
  text-align: center;

}

.topo ul li {

  display: inline-block;
  vertical-align: top;

}

.topo ul li a {

  font-family: 'open_sansregular';
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
  color: #fff;
  display: block;
  line-height: 50px;
  padding: 0 35px;
  letter-spacing: 3px;
  position: relative;

}

.topo ul li a:after {

  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #ccc;
  z-index: -1;
  border-bottom: 1px solid #ffffff ;
  opacity: 0;
  transition: opacity 0.3s;

}

.topo ul li:hover a,
.topo ul li:focus a,
.topo ul li.active a {

  color: #ffffff;

}

.topo ul li:hover a:after,
.topo ul li:focus a:after,
.topo ul li.active a:after {

  opacity: 1;

}

#dropdown-item{

  text-decoration: none;
}