
.imagem{

 max-width: 100%;
 height: auto;
 background-color: #043668;
 border-radius: 5%;

}
.ué{
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(109.6seg,rgba(156,252,248,1)11.2% rgba(110,123,251,1)91.1%);
    
}

.head{
    font-family: 'Open Sans', sans-serif;
    background-color: #043668;

}

header{
    font-family: 'Open Sans', sans-serif;
}
footer{
    font-family: 'Open Sans', sans-serif;
}
nav{
    font-family: 'Open Sans', sans-serif;
}
h2{
        font-family: 'Open Sans', sans-serif;
        color: #043668;
}

.Menudropdown{
 color: #043668;
}

.oxi{

    width: 50px;
    height: 50px;
    background-color: transparent;

    
}



