.triste {


    height: 250px;
    width: 500%;

}



.veloz {




    height: 300px;
    width: 100%;


}

.carduim {

    z-index: -1;

background-color: rgb(177, 192, 220);
}


.vsfkaua{

    z-index: -1;
}